<h1> Notes </h1>
<button><%= link_to 'New Note', new_note_path %></button>

<% @notes.each do |note| %>
  <h2><%= note.title %></h2>
  <%= link_to 'Show Note', note_path(note) %>
  <%= link_to 'Edit Note', edit_note_path(note) %>
  <%= link_to 'Obliterate Note', note, method: :delete %>
<% end %>